/*
Colors:
B33030
357C3C

EEEDDE
E0DDAA
203239
141E27
*/
@use '../../sass/responsive';

.timer-container{
  position: absolute;
  background: #141E27;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    .title{
      color: #EEEDDE;
      font-size: 2rem;
    }
    .fa-cog{
      color: #EEEDDE;
      font-size: 1.7rem;
      cursor: pointer;
      &:active{
        filter: brightness(90%);
      }
    }
  }
  .clock-container{
    position: relative;
    width: 100%;
    height: calc(100% - 5.5rem);
    .clock-wrapper{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 35rem;
      height: 35rem;
      background: #0c1116;
      box-shadow: inset 0 0 1.1rem #050709;
      border-radius: 50%;
      .inside{
        z-index: 10;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 94%;
        width: 94%;
        background: #141E27;
        box-shadow: 0 0 1.1rem #080c10;
        border-radius: 50%;
        .timer{
          font-size: 8rem;
          color: #EEEDDE;
          font-weight: 400;
        }
        .actions{
          position: absolute;
          color: #EEEDDE;
          font-size: 2rem;
          bottom: 4rem;
          cursor: pointer;
        }
      }
      .left, .right{
        position: absolute;
        height: 100%;
        width: 100%;
        background: #EEEDDE;
        background: transparent;
        border-radius: 50%;
        clip: rect(0px, 35rem, 35rem, 17.5rem);
        .progress{
          position: absolute;
          height: 100%;
          width: 100%;
          border-radius: 50%;
          clip: rect(0px, 17.5rem, 35rem, 0px);
          background: #357C3C;
        }
      }
      .left{
        .progress{
          z-index: 5;
        }
      }
      .right{
        transform: rotate(180deg);
        .progress{ 
          z-index: 5;
        }
      }
    }
  }
  .counter-wrapper{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2rem;
    background: #080c10;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .counter{
      color: #EEEDDE;
      font-size: 1.5rem;
    }
  }
}
