.settings-container{
  z-index: 20;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(0);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .settings{
    width: 35rem;
    height: 20rem;
    background: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
    .title-wrapper{
      height: 25%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #aaa;
      .title{
        font-size: 2rem;
        color: #000;
      }
      .fa-times{
        font-size: 1.2rem;
        cursor: pointer;
        &:hover{
          filter: brightness(110%);
        }
      }
    }
    .time-settings-wrapper{
      height: 75%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .subtitle{
        font-size: 1.2rem;
      }
      .inputs-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .wrapper{
          display: flex;
          flex-direction: column;
          .number{
            all: unset;
            background: #E9E9ED;
            width: 10rem;
            height: 2rem;
            padding: 0 .5rem;
            margin: .5rem 0;
            border-radius: .5rem;
          }
        }
      }
    }
  }
}

@keyframes show-container {
  0%{
    width: 100%;
    height: 100%;
    background: transparent;
    transform: scale(1);
  }
  100%{
    transform: scale(1);
    width: 100%;
    height: 100%;
    background: #0C1116AA;
  }
}

@keyframes hide-container {
  0%{
    width: 100%;
    height: 100%;
    transform: scale(1);
    background: #0C1116AA;
  }
  90%{
    width: 100%;
    height: 100%;
    transform: scale(1);
    opacity: 0;
  }
  100%{
    transform: scale(0);
    background: transparent;
  }
}

@keyframes show-settings {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes hide-settings {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}